<div
  style='display: flex;
    align-items: center;'
>
  <img src={{flags}} alt={{name}} style='width: 40px;margin-right: 10px;' />
  <h2
    style='margin: 0;
    font-size: 30px;'
  >{{name}}</h2>
</div>
<p><span style='font-weight:700 ;'>Capital: </span>{{capital}}</p>
<p><span style='font-weight:700 ;'>Population: </span>{{population}}</p>
<p><span style='font-weight:700 ;'>Languages: </span>{{languages}} </p>